/** @format */
/* Font Section */
@font-face {
  font-family: GeneralSans-Medium;
  src: url(font/GeneralSans-Medium.otf);
}
/* Font Section END */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: GeneralSans-Medium;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* Main section in which whole page is design. */
#main {
  width: 100%;
}
#navigationBar {
  background-color: #41c9e2;
  height: 4vw;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
#navigationBar #nav {
  padding: 1vw 1vw;
  margin-right: 50px;
}
#navigationBar #logo {
  position: relative;
  color: #ff204e;
  text-decoration: none;
  left: 8vw;
  top: 1vw;
  font-size: 1.7vw;
}
#navigationBar #nav a {
  color: white;
  text-decoration: none;
  padding: 12px;
  font-size: 1.6vw;
  transition: 0.3s;
}
#navigationBar #nav a:hover {
  color: black;
}
#Home {
  height: 100vh;
  width: 100%;
  background-color: #00224d;
  position: absolute;
}
#homeContent {
  position: relative;
  top: 30%;
  color: white;
  margin-left: 70px;
  margin-top: 50px;
}
#homeContent #para {
  margin-top: 20px;
  width: 35vw;
  text-align: justify;
  opacity: 0.8;
}
#homeContent h2 {
  letter-spacing: 2px;
  padding: 1vw;
  line-height: 0.5;
}
#homeContent #heading {
  font-size: 1.8vw;
  font-weight: 300;
}
#icons {
  /* border: 1px solid red; */
  position: relative;
  bottom: 8vw;
}
#icons .icon {
  margin: 6px;
  border-radius: 50%;
  /* background-color: black; */
  color: #0ef;
  padding: 4px;
  border: 2px solid aqua;
  position: relative;
  top: 43%;
  left: 70px;
}
#aboutme {
  position: relative;
  display: inline-block;
  /* border: 1px solid red; */
  bottom: 12vw;
}
#aboutme a {
  display: inline-block;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #0ef;
  border-radius: 1.8vw;
  width: 10vw;
  text-align: center;
  margin-left: 70px;
  padding: 5px;
}
#imageHome {
  position: relative;
  margin-left: 42vw;
  bottom: 15%;
  /* border: 1px solid red; */
  width: 35vw;
}
.img {
  /* border: 1px solid red; */
  width: 50vw;
  height: 50vh;
}
.skill {
  margin-left: 28%;
  font-size: 25px;
  font-weight: 900;
}
#Technical_Skill {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  margin: 20px 0;
}
.skill {
  margin-top: 70px;
  display: inline-block;
}
.uniImg {
  width: 70px;
  margin-left: 20px;
  margin-top: 10px;
}
.para-skill {
  margin-left: 25px;
  text-align: justify;
  width: 25vw;
}
.skill-type {
  display: inline-block;
  padding: 17px;
  position: relative;
  bottom: 16px;
  left: 27px;
}
#HTML {
  width: 30vw;
  height: 40vh;
  background-color: #efbc9b;
  margin: 10px;
  border-radius: 15px;
}

#CSS {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: #e59be9;
  border-radius: 15px;
}

#JS {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: crimson;
  border-radius: 15px;
}
#PYTHON {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: #cbf1f5;
  border-radius: 15px;
}
#JAVA {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: #aa96da;
  border-radius: 15px;
}
#OOPS {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: #bed7dc;
  border-radius: 15px;
}
#NETWORKING {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: #fec7b4;
  border-radius: 15px;
  /* position: relative; */
}
#FUNDAMENTAL {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: rgb(0, 200, 255);
  border-radius: 15px;
}
#OS {
  margin: 10px;
  width: 30vw;
  height: 40vh;
  background-color: rgb(255, 0, 43);
  border-radius: 15px;
}
#aboutContent {
  margin-top: 5vw;
  display: flex;
}
.img1 {
  width: 70vw;
  height: 50vh;
}
#Prof_Skill #creativity {
  border: 5px solid aqua;
  border-left: 5px solid black;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  text-align: center;
}
#aboutContent #contenet {
  /* border: 1px solid red; */
  display: inline-block;
  margin-left: 1vw;
}
#contenet h2 h3 #para {
  display: inline-block;
  margin-top: 3vw;
}
#contenet #para {
  text-align: justify;
  margin-top: 2vw;
  margin-right: 2vw;
}
#contenet h3 {
  margin-top: 1vw;
}
#aboutMore {
  display: inline-block;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #0ef;
  border-radius: 1.8vw;
  width: 140px;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}
#aboutMore a {
  text-decoration: none;
}

input {
  border: 1px solid red;
  border-radius: 15px;
  position: relative;
  left: 30px;
  width: 70%;
  margin: 5px;
  height: 5vh;
  text-align: center;
}
textarea {
  position: relative;
  left: 4vw;
}
.submit {
  width: 8vw;
  border: 3px solid white;
  border-radius: 12px;
  font-size: 20px;

  position: relative;
  left: 8vw;
  transition: 2s;
}
.submit:hover {
  background-color: #fc819e;
  border: 3px solid crimson;
  cursor: pointer;
}
